workflow-3-agente-sdr.json
{
  "name": "🤖 Agente SDR WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-sdr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook — Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 400],
      "notes": "Configure este endpoint na Evolution API como webhook de mensagens recebidas."
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\n\n// Ignora mensagens enviadas pelo próprio bot\nif (body.data?.key?.fromMe === true) {\n  return [];\n}\n\n// Ignora mensagens de grupos\nconst remoteJid = body.data?.key?.remoteJid || '';\nif (remoteJid.includes('@g.us')) {\n  return [];\n}\n\nconst numero = remoteJid.replace('@s.whatsapp.net', '');\nconst mensagem = body.data?.message?.conversation\n  || body.data?.message?.extendedTextMessage?.text\n  || '';\nconst nomeContato = body.data?.pushName || 'Lead';\nconst tipoMensagem = body.data?.messageType || 'conversation';\nconst temArquivo = ['imageMessage', 'documentMessage', 'audioMessage'].includes(tipoMensagem);\n\n// Extrai o instanceName para identificar o cliente (multi-tenancy)\nconst instanceName = body.instance || body.instanceName || body.data?.instance || 'TESTE';\n\nif (!mensagem && !temArquivo) return [];\n\nreturn [{ json: { numero, mensagem, nomeContato, tipoMensagem, temArquivo, instanceName, timestamp: new Date().toISOString() } }];"
      },
      "id": "node-normaliza",
      "name": "Normaliza e filtra mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 400]
    },
    {
      "parameters": {
        "operation": "select",
        "tableId": "profiles",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "evo_instance",
              "keyValue": "={{ $('Normaliza e filtra mensagem').first().json.instanceName }}"
            },
            {
              "keyName": "active",
              "keyValue": "true"
            }
          ]
        },
        "options": { "limit": 1 }
      },
      "id": "node-resolve-cliente",
      "name": "Resolve cliente pelo instanceName",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [440, 400],
      "notes": "Busca o profile do cliente pelo instanceName da Evolution API. Isola dados por tenant (multi-tenancy)."
    },
    {
      "parameters": {
        "operation": "select",
        "tableId": "agente_config",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('Resolve cliente pelo instanceName').first().json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-carrega-config",
      "name": "Carrega configurações do Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [660, 400],
      "notes": "Busca configurações do cliente específico (isolado por user_id)."
    },
    {
      "parameters": {
        "jsCode": "// Converte array de {chave, valor} em objeto\nconst rows = $input.all();\nconst config = {};\nrows.forEach(row => {\n  config[row.json.chave] = row.json.valor;\n});\n\nconst dadosMensagem = $('Normaliza e filtra mensagem').first().json;\nconst cliente = $('Resolve cliente pelo instanceName').first().json;\nconst userId = cliente?.id;\nconst evoInstance = cliente?.evo_instance || dadosMensagem.instanceName;\n\n// Monta o system prompt completo com todas as configurações do cliente\nconst systemPrompt = `${config.prompt_sistema || ''}\n\nOBJETIVO: ${config.objetivo || ''}\n\nTONALIDADE: ${config.tonalidade || ''}\n\nINSTRUÇÕES DE COMUNICAÇÃO: ${config.instrucoes_comunicacao || ''}\n\nCRITÉRIOS DE QUALIFICAÇÃO (precisa atender ao menos 3 dos seguintes):\n${config.criterios_qualificacao || ''}\n\nQUANDO O LEAD FOR QUALIFICADO:\n- Responda com: ${config.msg_qualificado || 'Vou encaminhar seu caso ao advogado.'}\n- Inclua no final da mensagem um bloco JSON assim:\n\\`\\`\\`json\n{\"qualificado\":true,\"nome\":\"Nome completo\",\"celular\":\"DDD+número\",\"tese\":\"Tese jurídica identificada\",\"resumo\":\"Resumo completo da conversa\"}\n\\`\\`\\`\n\nQUANDO O LEAD NÃO FOR QUALIFICADO:\n- Responda com: ${config.msg_desqualificado || 'Agradecemos o contato!'}\n- Inclua no final:\n\\`\\`\\`json\n{\"qualificado\":false,\"motivo\":\"Motivo da desqualificação\"}\n\\`\\`\\`\n\nREGRAS IMPORTANTES:\n- Faça uma pergunta por vez\n- Nunca prometa resultado ou vitória\n- Nunca dê consultoria jurídica\n- Se não souber algo, consulte a base de conhecimento antes de responder`;\n\nreturn [{ json: { ...dadosMensagem, userId, evoInstance, config, systemPrompt } }];"
      },
      "id": "node-monta-config",
      "name": "Monta system prompt com config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 400]
    },
    {
      "parameters": {
        "operation": "select",
        "tableId": "sessoes",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "numero_whatsapp",
              "keyValue": "={{ $('Normaliza e filtra mensagem').first().json.numero }}"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('Monta system prompt com config').first().json.userId }}"
            }
          ]
        },
        "options": { "limit": 1 }
      },
      "id": "node-redis-get",
      "name": "Supabase — Busca histórico da sessão",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1100, 400],
      "notes": "Busca o histórico de conversa do lead, isolado por user_id do cliente."
    },
    {
      "parameters": {
        "jsCode": "const dadosConfig = $('Monta system prompt com config').first().json;\nconst sessaoRow = $input.first().json;\n\n// Se o agente estiver pausado para esta conversa (cliente assumiu o controle), ignora\nif (sessaoRow.agente_pausado === true) {\n  return [];\n}\n\nlet historico = [];\ntry {\n  historico = JSON.parse(sessaoRow.historico || '[]');\n} catch(e) { historico = []; }\n\nhistorico.push({\n  role: 'user',\n  content: dadosConfig.temArquivo ? '[Usuário enviou um arquivo]' : dadosConfig.mensagem\n});\n\nconst historicoTexto = historico\n  .map(h => `${h.role === 'user' ? 'Lead' : 'Agente'}: ${h.content}`)\n  .join('\\n');\n\nreturn [{ json: { ...dadosConfig, historico, historicoTexto } }];"
      },
      "id": "node-monta-historico",
      "name": "Monta histórico da conversa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 400]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Histórico da conversa:\n{{ $json.historicoTexto }}\n\nNova mensagem do lead: {{ $json.mensagem }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}",
          "maxIterations": 5
        }
      },
      "id": "node-agente-ia",
      "name": "Agente SDR — IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1540, 400],
      "notes": "Configure a credencial OpenAI. As tools (Tavily e Supabase Vector Store) são conectadas abaixo."
    },
    {
      "parameters": {
        "name": "busca_web",
        "description": "Busca informações atualizadas na internet sobre legislação previdenciária, benefícios do INSS, jurisprudência e notícias relevantes. Use quando precisar validar informações ou buscar dados atuais. Input: a query de busca em português.",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"api_key\": \"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\", \"query\": \"{query}\", \"search_depth\": \"basic\", \"max_results\": 5}",
        "options": {}
      },
      "id": "node-tool-tavily",
      "name": "Tool: Busca na Web (Tavily)",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1420, 620],
      "notes": "Chave Tavily incluída diretamente no JSON body. Compatível com todas as versões do n8n."
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "base_conhecimento_pdf",
        "toolDescription": "Consulta a base de conhecimento interna com PDFs de legislação, jurisprudência e tabelas previdenciárias. Use quando precisar de informações específicas dos documentos carregados pelo cliente.",
        "tableName": "documentos_conhecimento",
        "options": {
          "queryFilter": "={{ { user_id: $('Monta system prompt com config').first().json.userId } }}"
        }
      },
      "id": "node-tool-vectorstore",
      "name": "Tool: Base de Conhecimento PDF",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [1660, 620],
      "notes": "Filtra documentos por user_id do cliente — cada cliente acessa apenas sua própria base de PDFs."
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "node-embeddings-busca",
      "name": "Embeddings para busca",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1660, 780],
      "notes": "Necessário para a busca semântica nos PDFs."
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "node-llm-openai",
      "name": "LLM — GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1420, 780],
      "notes": "Configure a credencial OpenAI. Temperatura 0.3 para respostas mais consistentes."
    },
    {
      "parameters": {
        "jsCode": "const respostaAgente = $input.first().json.output || '';\nconst dadosMsg = $('Normaliza e filtra mensagem').first().json;\nconst configData = $('Monta system prompt com config').first().json;\nconst config = configData.config;\nconst userId = configData.userId;\nconst evoInstance = configData.evoInstance;\n\nlet dadosQualificacao = null;\nlet qualificado = null;\n\n// Extrai JSON da resposta\ntry {\n  const match = respostaAgente.match(/```json([\\s\\S]*?)```/);\n  if (match) {\n    dadosQualificacao = JSON.parse(match[1].trim());\n    qualificado = dadosQualificacao.qualificado === true;\n  }\n} catch(e) {}\n\n// Remove o JSON do texto que vai ao lead\nconst textoParaLead = respostaAgente.replace(/```json[\\s\\S]*?```/g, '').trim();\n\n// Monta relatório formatado\nlet relatorio = null;\nif (qualificado && dadosQualificacao) {\n  const agora = new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n  relatorio = `🟢 *LEAD QUALIFICADO — PREVIDENCIÁRIO*\\n\\n`\n    + `👤 *Nome:* ${dadosQualificacao.nome || 'Não informado'}\\n`\n    + `📱 *Celular:* ${dadosQualificacao.celular || dadosMsg.numero}\\n`\n    + `⚖️ *Tese:* ${dadosQualificacao.tese || 'Não identificada'}\\n`\n    + `📋 *Resumo:* ${dadosQualificacao.resumo || 'Ver histórico'}\\n`\n    + `🕐 *Atendimento:* ${agora}`;\n}\n\nreturn [{\n  json: {\n    numero: dadosMsg.numero,\n    textoParaLead,\n    qualificado,\n    dadosQualificacao,\n    relatorio,\n    numeroDestino: config?.numero_destino,\n    userId,\n    evoInstance\n  }\n}];"
      },
      "id": "node-processa-resposta",
      "name": "Processa resposta e qualificação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi-evolution-api.yuhqmc.easypanel.host/message/sendText/{{ $json.evoInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "apikey", "value": "32AEB8FC2DE4-4F79-A823-E620A11C224F" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"number\": \"{{ $json.numero }}\", \"text\": \"{{ $json.textoParaLead }}\"}",
        "options": {}
      },
      "id": "node-envia-lead",
      "name": "Envia resposta ao lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 260]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-qualificado",
              "leftValue": "={{ $json.qualificado }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ]
        }
      },
      "id": "node-switch",
      "name": "Lead qualificado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1980, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi-evolution-api.yuhqmc.easypanel.host/message/sendText/{{ $json.evoInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "apikey", "value": "32AEB8FC2DE4-4F79-A823-E620A11C224F" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"number\": \"{{ $json.numeroDestino }}\", \"text\": \"{{ $json.relatorio }}\"}",
        "options": {}
      },
      "id": "node-envia-advogado",
      "name": "Envia relatório ao advogado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 360],
      "notes": "Envia para o número configurado no Painel de Configuração (numero_destino) via instância do cliente."
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "leads",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "numero_whatsapp", "fieldValue": "={{ $('Normaliza e filtra mensagem').first().json.numero }}" },
            { "fieldId": "nome", "fieldValue": "={{ $json.dadosQualificacao?.nome || '' }}" },
            { "fieldId": "celular", "fieldValue": "={{ $json.dadosQualificacao?.celular || '' }}" },
            { "fieldId": "tese", "fieldValue": "={{ $json.dadosQualificacao?.tese || '' }}" },
            { "fieldId": "resumo", "fieldValue": "={{ $json.dadosQualificacao?.resumo || $json.dadosQualificacao?.motivo || '' }}" },
            { "fieldId": "qualificado", "fieldValue": "={{ $json.qualificado }}" },
            { "fieldId": "motivo_desqualificacao", "fieldValue": "={{ $json.dadosQualificacao?.motivo || '' }}" },
            { "fieldId": "user_id", "fieldValue": "={{ $json.userId }}" }
          ]
        }
      },
      "id": "node-salva-lead",
      "name": "Salva lead no Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2200, 540],
      "notes": "Registra todos os leads com user_id do cliente para isolamento de dados."
    },
    {
      "parameters": {
        "jsCode": "const historico = $('Monta histórico da conversa').first().json.historico;\nconst respostaAgente = $('Agente SDR — IA').first().json.output || '';\nconst numero = $('Normaliza e filtra mensagem').first().json.numero;\nconst userId = $('Monta system prompt com config').first().json.userId;\n\nhistorico.push({ role: 'assistant', content: respostaAgente });\nconst historicoTrimmed = historico.slice(-20);\n\nreturn [{ json: { numero_whatsapp: numero, user_id: userId, historico: JSON.stringify(historicoTrimmed), atualizado_em: new Date().toISOString() } }];"
      },
      "id": "node-prepara-redis",
      "name": "Prepara sessão para salvar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 700]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "sessoes",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "numero_whatsapp", "fieldValue": "={{ $json.numero_whatsapp }}" },
            { "fieldId": "user_id", "fieldValue": "={{ $json.user_id }}" },
            { "fieldId": "historico", "fieldValue": "={{ $json.historico }}" },
            { "fieldId": "atualizado_em", "fieldValue": "={{ $json.atualizado_em }}" }
          ]
        },
        "filters": {
          "conditions": [
            { "keyName": "numero_whatsapp", "keyValue": "={{ $json.numero_whatsapp }}" },
            { "keyName": "user_id", "keyValue": "={{ $json.user_id }}" }
          ]
        }
      },
      "id": "node-redis-set",
      "name": "Supabase — Salva sessão",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2420, 700],
      "notes": "Upsert por (numero_whatsapp + user_id) — cada cliente tem sua própria sessão com cada lead."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ok\"}",
        "options": {}
      },
      "id": "node-webhook-ok",
      "name": "Responde 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2420, 400]
    }
  ],
  "connections": {
    "Webhook — Evolution API": {
      "main": [[{ "node": "Normaliza e filtra mensagem", "type": "main", "index": 0 }]]
    },
    "Normaliza e filtra mensagem": {
      "main": [[{ "node": "Resolve cliente pelo instanceName", "type": "main", "index": 0 }]]
    },
    "Resolve cliente pelo instanceName": {
      "main": [[{ "node": "Carrega configurações do Supabase", "type": "main", "index": 0 }]]
    },
    "Carrega configurações do Supabase": {
      "main": [[{ "node": "Monta system prompt com config", "type": "main", "index": 0 }]]
    },
    "Monta system prompt com config": {
      "main": [[{ "node": "Supabase — Busca histórico da sessão", "type": "main", "index": 0 }]]
    },
    "Supabase — Busca histórico da sessão": {
      "main": [[{ "node": "Monta histórico da conversa", "type": "main", "index": 0 }]]
    },
    "Monta histórico da conversa": {
      "main": [[{ "node": "Agente SDR — IA", "type": "main", "index": 0 }]]
    },
    "Tool: Busca na Web (Tavily)": {
      "ai_tool": [[{ "node": "Agente SDR — IA", "type": "ai_tool", "index": 0 }]]
    },
    "Tool: Base de Conhecimento PDF": {
      "ai_tool": [[{ "node": "Agente SDR — IA", "type": "ai_tool", "index": 0 }]]
    },
    "Embeddings para busca": {
      "ai_embedding": [[{ "node": "Tool: Base de Conhecimento PDF", "type": "ai_embedding", "index": 0 }]]
    },
    "LLM — GPT-4o": {
      "ai_languageModel": [[{ "node": "Agente SDR — IA", "type": "ai_languageModel", "index": 0 }]]
    },
    "Agente SDR — IA": {
      "main": [[{ "node": "Processa resposta e qualificação", "type": "main", "index": 0 }]]
    },
    "Processa resposta e qualificação": {
      "main": [[
        { "node": "Envia resposta ao lead", "type": "main", "index": 0 },
        { "node": "Lead qualificado?", "type": "main", "index": 0 },
        { "node": "Prepara sessão para salvar", "type": "main", "index": 0 }
      ]]
    },
    "Lead qualificado?": {
      "main": [
        [
          { "node": "Envia relatório ao advogado", "type": "main", "index": 0 },
          { "node": "Salva lead no Supabase", "type": "main", "index": 0 }
        ],
        [
          { "node": "Salva lead no Supabase", "type": "main", "index": 0 }
        ]
      ]
    },
    "Envia relatório ao advogado": {
      "main": [[{ "node": "Responde 200 OK", "type": "main", "index": 0 }]]
    },
    "Envia resposta ao lead": {
      "main": [[{ "node": "Responde 200 OK", "type": "main", "index": 0 }]]
    },
    "Prepara sessão para salvar": {
      "main": [[{ "node": "Supabase — Salva sessão", "type": "main", "index": 0 }]]
    },
    "Supabase — Salva sessão": {
      "main": [[{ "node": "Responde 200 OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["whatsapp", "sdr", "ia", "previdenciario", "multitenancy"],
  "meta": { "description": "Workflow principal do agente SDR. Multi-tenant: resolve user_id pelo instanceName da Evolution API, filtra configs/PDFs/sessões/leads por cliente. Cada cliente tem uso exclusivo de seus dados.", "version": "4.0.0" }
}
