workflow-agente-sdr.json
{
  "name": "🤖 XPERT.IA — Agente SDR WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-sdr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook — Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        400
      ],
      "notes": "Configure este endpoint na Evolution API como webhook de mensagens recebidas."
    },
    {
      "parameters": {
        "jsCode": "// Formato Evolution API v2 — n8n wraps o body, mas em alguns casos promove campos à raiz\nconst webhook = $input.first().json;\n\n// Tenta extrair instanceName de todos os caminhos possíveis\n// (depende da versão do n8n e do modo de resposta do webhook)\nconst instanceName = webhook.instance            // raiz (mais comum)\n  || webhook.body?.instance                      // dentro de body\n  || webhook.instanceName                        // alias\n  || webhook.body?.instanceName                  \n  || webhook.data?.instance                      \n  || webhook.instanceId                          // UUID como fallback\n  || '';\n\n// Tenta extrair fromMe de todos os caminhos\nconst fromMe = webhook.fromMe \n  || webhook.key?.fromMe \n  || webhook.data?.key?.fromMe \n  || webhook.body?.data?.key?.fromMe \n  || false;\n\nif (fromMe === true) return [];\n\n// remoteJid / sender\nconst remoteJid = webhook.sender \n  || webhook.remoteJid \n  || webhook.key?.remoteJid\n  || webhook.data?.key?.remoteJid \n  || webhook.body?.data?.key?.remoteJid \n  || '';\nif (remoteJid.includes('@g.us')) return [];\n\n// Tipo de mensagem\nconst tipoMensagem = webhook.messageType \n  || webhook.data?.messageType \n  || webhook.body?.data?.messageType \n  || 'conversation';\nconst TIPOS_IGNORADOS = ['senderKeyDistributionMessage','protocolMessage','reactionMessage','pollUpdateMessage'];\nif (TIPOS_IGNORADOS.includes(tipoMensagem)) return [];\n\nconst numero = remoteJid.replace('@s.whatsapp.net', '');\n\n// Mensagem de texto — múltiplos caminhos\nconst mensagem = webhook.conversation\n  || webhook.text\n  || webhook.body\n  || webhook.data?.message?.conversation\n  || webhook.data?.message?.extendedTextMessage?.text\n  || webhook.body?.data?.message?.conversation\n  || '';\n\nconst nomeContato = webhook.pushName || webhook.senderName \n  || webhook.data?.pushName || webhook.body?.data?.pushName \n  || 'Lead';\n\nconst temArquivo = ['imageMessage','documentMessage','audioMessage','videoMessage','stickerMessage'].includes(tipoMensagem);\nconst ehAudio = tipoMensagem === 'audioMessage';\n\n// Áudio\nlet audioBase64 = webhook.mediaBase64 || null;\nlet audioUrl = webhook.mediaUrl || null;\nlet audioMimetype = webhook.mimetype || 'audio/ogg';\nlet audioDuration = webhook.duration || 0;\n\n// Imagem\nlet ehImagem = tipoMensagem === 'imageMessage';\nlet imagemUrl = webhook.mediaUrl || null;\nlet imagemBase64 = webhook.mediaBase64 || null;\nlet imagemMimetype = webhook.mimetype || 'image/jpeg';\nlet imagemCaption = webhook.caption || '';\n\n// Documento\nlet ehDocumento = ['documentMessage','documentWithCaptionMessage'].includes(tipoMensagem);\nlet docUrl = webhook.mediaUrl || null;\nlet docBase64 = webhook.mediaBase64 || null;\nlet docMimetype = webhook.mimetype || 'application/octet-stream';\nlet docFileName = webhook.fileName || webhook.filename || 'documento';\n\nif (!mensagem && !temArquivo) return [];\n\nreturn [{ json: { \n  numero, mensagem, nomeContato, tipoMensagem, temArquivo, \n  ehAudio, audioBase64, audioUrl, audioMimetype, audioDuration,\n  ehImagem, imagemUrl, imagemBase64, imagemMimetype, imagemCaption,\n  ehDocumento, docUrl, docBase64, docMimetype, docFileName,\n  instanceName,\n  timestamp: new Date().toISOString() \n} }];"
      },
      "id": "node-normaliza",
      "name": "Normaliza e filtra mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-audio",
              "leftValue": "={{ $json.ehAudio }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "id": "node-eh-audio",
      "name": "É áudio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\n\n// Se temos base64 direto do webhook, usa ele\n// Se não, baixa da URL\nlet audioBase64 = dados.audioBase64;\n\nif (!audioBase64 && dados.audioUrl) {\n  try {\n    const response = await fetch(dados.audioUrl);\n    const arrayBuffer = await response.arrayBuffer();\n    const uint8 = new Uint8Array(arrayBuffer);\n    let binary = '';\n    uint8.forEach(b => binary += String.fromCharCode(b));\n    audioBase64 = btoa(binary);\n  } catch(e) {\n    return [{ json: { ...dados, mensagem: '[Áudio não pôde ser baixado]', ehAudio: false } }];\n  }\n}\n\nif (!audioBase64) {\n  return [{ json: { ...dados, mensagem: '[Áudio sem conteúdo]', ehAudio: false } }];\n}\n\nreturn [{ json: { ...dados, audioBase64 } }];"
      },
      "id": "node-download-audio",
      "name": "Download áudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "language",
              "value": "pt"
            },
            {
              "name": "response_format",
              "value": "json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "node-whisper",
      "name": "Transcreve áudio (Whisper)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        260
      ],
      "notes": "Configure credencial OpenAI. Envia áudio para Whisper e recebe texto transcrito. Custo: $0.006/min."
    },
    {
      "parameters": {
        "jsCode": "const dados = $('Normaliza e filtra mensagem').first().json;\nconst transcricao = $input.first().json.text || '[Transcrição indisponível]';\n\n// Substitui a mensagem pela transcrição e marca como áudio transcrito\nreturn [{ json: { ...dados, mensagem: transcricao, mensagemOriginalAudio: true, ehAudio: true } }];"
      },
      "id": "node-merge-audio",
      "name": "Merge: áudio → texto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vyvdrbkcrvklcaombjqu.supabase.co/rest/v1/rpc/get_profile_by_instance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5dmRyYmtjcnZrbGNhb21ianF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNTMzNTgsImV4cCI6MjA4NzYyOTM1OH0.vmIYb6BGgsksaNGN2XPCm6I_mj02NSa49bLWXlTLQeY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5dmRyYmtjcnZrbGNhb21ianF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNTMzNTgsImV4cCI6MjA4NzYyOTM1OH0.vmIYb6BGgsksaNGN2XPCm6I_mj02NSa49bLWXlTLQeY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_instance: $json.instanceName }) }}",
        "options": {}
      },
      "id": "node-resolve-cliente",
      "name": "Resolve cliente pelo instanceName",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        400
      ],
      "notes": "Busca o profile do cliente pelo instanceName da Evolution API."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vyvdrbkcrvklcaombjqu.supabase.co/rest/v1/rpc/get_agente_config",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5dmRyYmtjcnZrbGNhb21ianF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNTMzNTgsImV4cCI6MjA4NzYyOTM1OH0.vmIYb6BGgsksaNGN2XPCm6I_mj02NSa49bLWXlTLQeY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5dmRyYmtjcnZrbGNhb21ianF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNTMzNTgsImV4cCI6MjA4NzYyOTM1OH0.vmIYb6BGgsksaNGN2XPCm6I_mj02NSa49bLWXlTLQeY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_user_id: $('Resolve cliente pelo instanceName').first().json[0]?.id || $('Resolve cliente pelo instanceName').first().json?.id }) }}",
        "options": {}
      },
      "id": "node-carrega-config",
      "name": "Carrega configurações do Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        400
      ],
      "notes": ""
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.first().json; // Array retornado pelo RPC get_agente_config\nconst config = {};\nif (Array.isArray(rows)) {\n  rows.forEach(row => { config[row.chave] = row.valor; });\n} else if (rows) {\n  config[rows.chave] = rows.valor;\n}\n\n// Pega dados da mensagem — pode vir do branch texto ou do merge áudio\nlet dadosMensagem;\ntry {\n  dadosMensagem = $('Merge: áudio → texto').first().json;\n} catch(e) {\n  dadosMensagem = $('Normaliza e filtra mensagem').first().json;\n}\n\n// RPC get_profile_by_instance retorna array\nconst clienteRaw = $('Resolve cliente pelo instanceName').first().json;\nconst cliente = Array.isArray(clienteRaw) ? clienteRaw[0] : clienteRaw;\nconst userId = cliente?.id;\nconst evoInstance = cliente?.evo_instance || dadosMensagem.instanceName;\nconst responderEmAudio = config.responder_em_audio === 'true';\n\n\n// Web search configuration\nconst webSearchEnabled = config.web_search_enabled !== 'false'; // default true\nlet webSearchInstructions = '';\nif (!webSearchEnabled) {\n  webSearchInstructions = '\\n\\nATENÇÃO: NÃO use a ferramenta de busca na web nesta conversa. Consulte apenas a Base de Conhecimento interna.';\n}\n\n// Web URLs de referência\nlet webUrlsInstructions = '';\ntry {\n  const urls = JSON.parse(config.web_urls_fixas || '[]');\n  if (Array.isArray(urls) && urls.length > 0) {\n    const lista = urls.map(u => `- ${u.url}${u.desc ? ' ('+u.desc+')' : ''}`).join('\\n');\n    webUrlsInstructions = `\\n\\nSITES DE REFERÊNCIA PRIORITÁRIOS (consulte estes antes de outras fontes):\\n${lista}`;\n  }\n} catch(e) {}\n\nconst systemPrompt = `${config.prompt_sistema || ''}\n\nOBJETIVO: ${config.objetivo || ''}\n\nTONALIDADE: ${config.tonalidade || ''}\n\nINSTRUÇÕES DE COMUNICAÇÃO: ${config.instrucoes_comunicacao || ''}\n\nCRITÉRIOS DE QUALIFICAÇÃO (precisa atender ao menos 3 dos seguintes):\n${config.criterios_qualificacao || ''}\n\nQUANDO O LEAD FOR QUALIFICADO:\n- Responda com: ${config.msg_qualificado || 'Vou encaminhar suas informações para o nosso time.'}\n- Inclua no final da mensagem um bloco JSON assim:\n\\`\\`\\`json\n{\"qualificado\":true,\"nome\":\"Nome completo\",\"celular\":\"DDD+número\",\"tese\":\"Produto/Serviço de interesse identificado\",\"resumo\":\"Resumo completo da conversa\"}\n\\`\\`\\`\n\nQUANDO O LEAD NÃO FOR QUALIFICADO:\n- Responda com: ${config.msg_desqualificado || 'Agradecemos o contato!'}\n- Inclua no final:\n\\`\\`\\`json\n{\"qualificado\":false,\"motivo\":\"Motivo da desqualificação\"}\n\\`\\`\\`\n\nREGRAS IMPORTANTES:\n- Faça uma pergunta por vez\n- Nunca prometa resultado ou vitória\n- Se não souber algo, consulte a base de conhecimento antes de responder${webSearchInstructions}${webUrlsInstructions}`;\n\nreturn [{ json: { ...dadosMensagem, userId, evoInstance, config, systemPrompt, responderEmAudio } }];"
      },
      "id": "node-monta-config",
      "name": "Monta system prompt com config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vyvdrbkcrvklcaombjqu.supabase.co/rest/v1/rpc/get_token_balance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5dmRyYmtjcnZrbGNhb21ianF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNTMzNTgsImV4cCI6MjA4NzYyOTM1OH0.vmIYb6BGgsksaNGN2XPCm6I_mj02NSa49bLWXlTLQeY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5dmRyYmtjcnZrbGNhb21ianF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNTMzNTgsImV4cCI6MjA4NzYyOTM1OH0.vmIYb6BGgsksaNGN2XPCm6I_mj02NSa49bLWXlTLQeY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_user_id: $('Resolve cliente pelo instanceName').first().json[0]?.id || $('Resolve cliente pelo instanceName').first().json?.id }) }}",
        "options": {}
      },
      "id": "node-verifica-saldo",
      "name": "Verifica saldo de tokens",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        400
      ],
      "notes": "Verifica se o cliente tem tokens disponíveis."
    },
    {
      "parameters": {
        "jsCode": "const saldoArr = $input.first().json; // Array retornado pelo RPC\nconst saldo = Array.isArray(saldoArr) ? saldoArr[0] : saldoArr;\nconst dadosConfig = $('Monta system prompt com config').first().json;\n\n// saldo_tokens pode ser: numero, string, undefined, null\n// Se get_token_balance retornou [] (usuario sem registro), saldo = undefined → assume disponível\nconst saldoRaw = saldo?.saldo_tokens;\nconst saldoTokens = (saldoRaw !== undefined && saldoRaw !== null) ? Number(saldoRaw) : 1000000;\n\n// Se saldo <= 0, bloqueia e avisa o lead\nif (saldoTokens <= 0) {\n  return [{ json: { ...dadosConfig, saldoTokens, tokensBloqueado: true, textoParaLead: '⚠️ Olá! No momento nosso sistema está temporariamente indisponível. Por favor, tente novamente mais tarde ou entre em contato pelo número do escritório. Pedimos desculpas pelo inconveniente.' } }];\n}\n\nreturn [{ json: { ...dadosConfig, saldoTokens, tokensBloqueado: false } }];"
      },
      "id": "node-check-saldo",
      "name": "Tokens disponíveis?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-bloqueado",
              "leftValue": "={{ $json.tokensBloqueado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "id": "node-if-bloqueado",
      "name": "Bloqueado por tokens?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2420,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ `https://evo.sevenxperts.solutions/message/sendText/${$json.evoInstance}` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "2ae3Y0xQFNxIcng27ufbAaHzioCDfReN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ number: $json.numero, text: ($json.textoParaLead || '⚠️ Olá! No momento nosso sistema está temporariamente indisponível. Por favor, tente novamente mais tarde ou entre em contato pelo número do escritório. Pedimos desculpas pelo inconveniente.') }) }}",
        "options": {}
      },
      "id": "node-envia-aviso-bloqueio",
      "name": "Envia aviso: tokens esgotados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        260
      ],
      "notes": "Envia mensagem de indisponibilidade quando os tokens do cliente acabaram."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vyvdrbkcrvklcaombjqu.supabase.co/rest/v1/rpc/get_sessao",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5dmRyYmtjcnZrbGNhb21ianF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNTMzNTgsImV4cCI6MjA4NzYyOTM1OH0.vmIYb6BGgsksaNGN2XPCm6I_mj02NSa49bLWXlTLQeY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5dmRyYmtjcnZrbGNhb21ianF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNTMzNTgsImV4cCI6MjA4NzYyOTM1OH0.vmIYb6BGgsksaNGN2XPCm6I_mj02NSa49bLWXlTLQeY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_numero: $json.numero, p_user_id: $json.userId }) }}",
        "options": {}
      },
      "id": "node-redis-get",
      "name": "Supabase — Busca histórico da sessão",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        540
      ],
      "notes": ""
    },
    {
      "parameters": {
        "jsCode": "const dadosConfig = $('Tokens disponíveis?').first().json;\nconst sessaoArr = $input.first().json; // Array retornado pelo RPC get_sessao\nconst sessaoRow = Array.isArray(sessaoArr) ? sessaoArr[0] : sessaoArr;\n\nif (sessaoRow?.agente_pausado === true) return [];\n\nlet historico = [];\ntry { historico = JSON.parse(sessaoRow?.historico || '[]'); } catch(e) {}\n\n// Adiciona a mensagem do usuário ao histórico\nconst prefixo = '';\nhistorico.push({ role: 'user', content: prefixo + dadosConfig.mensagem, type: dadosConfig.ehAudio ? 'audio' : 'text' });\n\nconst historicoTexto = historico.map(h => `${h.role === 'user' ? 'Lead' : 'Agente'}: ${h.content}`).join('\\n');\n\nreturn [{ json: { ...dadosConfig, historico, historicoTexto } }];"
      },
      "id": "node-monta-historico",
      "name": "Monta histórico da conversa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        540
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Histórico da conversa:\n{{ $json.historicoTexto }}\n\nNova mensagem do lead: {{ $json.mensagem }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}",
          "maxIterations": 5
        }
      },
      "id": "node-agente-ia",
      "name": "Agente SDR — IA (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3300,
        380
      ],
      "notes": "Agente via OpenAI (GPT). Ativo quando ai_provider != 'claude'."
    },
    {
      "parameters": {
        "toolDescription": "Busca informações atualizadas na web. Use para buscar notícias, leis, jurisprudência ou qualquer informação recente que não esteja na base de conhecimento interna.",
        "method": "GET",
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $fromAI('query', 'O que pesquisar na web') }}"
            },
            {
              "name": "api_key",
              "value": "265bc2130412d8df13b09e6e01acac17f95496ad5fd03c141101a192a532baa0"
            },
            {
              "name": "hl",
              "value": "pt"
            },
            {
              "name": "gl",
              "value": "br"
            },
            {
              "name": "num",
              "value": "5"
            }
          ]
        },
        "sendHeaders": false,
        "options": {}
      },
      "id": "node-tool-serpapi",
      "name": "Tool: Busca na Web (SerpAPI)",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2960,
        760
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "base_conhecimento_pdf",
        "toolDescription": "Consulta a base de conhecimento interna com documentos, materiais e procedimentos da empresa.",
        "tableName": "documentos_conhecimento",
        "options": {
          "queryFilter": "={{ { user_id: $('Monta system prompt com config').first().json.userId } }}"
        }
      },
      "id": "node-tool-vectorstore",
      "name": "Tool: Base de Conhecimento PDF",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        3200,
        760
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "node-embeddings-busca",
      "name": "Embeddings para busca",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3200,
        920
      ]
    },
    {
      "parameters": {
        "model": "={{ $('Monta system prompt com config').first().json.config?.openai_model || 'gpt-4o' }}",
        "options": {
          "temperature": "={{ parseFloat($('Monta system prompt com config').first().json.config?.openai_temperature || '0.3') }}",
          "maxTokens": "={{ parseInt($('Monta system prompt com config').first().json.config?.openai_max_tokens || '1024') }}"
        }
      },
      "id": "node-llm-openai",
      "name": "LLM — GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2960,
        920
      ]
    },
    {
      "parameters": {
        "jsCode": "const respostaAgente = $input.first().json.output || '';\nconst configData = $('Monta system prompt com config').first().json;\nconst dadosMsg = configData;\nconst config = configData.config;\nconst userId = configData.userId;\nconst evoInstance = configData.evoInstance;\nconst responderEmAudio = configData.responderEmAudio;\n\nlet dadosQualificacao = null;\nlet qualificado = null;\n\ntry {\n  const match = respostaAgente.match(/```json([\\s\\S]*?)```/);\n  if (match) {\n    dadosQualificacao = JSON.parse(match[1].trim());\n    qualificado = dadosQualificacao.qualificado === true;\n  }\n} catch(e) {}\n\nconst textoParaLead = respostaAgente.replace(/```json[\\s\\S]*?```/g, '').trim();\n\nlet relatorio = null;\nif (qualificado && dadosQualificacao) {\n  const agora = new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n  relatorio = `🟢 *LEAD QUALIFICADO*\\n\\n`\n    + `👤 *Nome:* ${dadosQualificacao.nome || 'Não informado'}\\n`\n    + `📱 *Celular:* ${dadosQualificacao.celular || dadosMsg.numero}\\n`\n    + `🎯 *Interesse:* ${dadosQualificacao.tese || 'Não identificado'}\\n`\n    + `📋 *Resumo:* ${dadosQualificacao.resumo || 'Ver histórico'}\\n`\n    + `🕐 *Atendimento:* ${agora}`;\n}\n\n// Notif destination config\nconst notifDestino = config?.notif_destino || 'ambos';\n// If only sending to número, zero out grupo so \"Tem grupo configurado?\" returns false\nconst grupoDestinoFinal = (notifDestino === 'numero') ? '' : (config?.grupo_destino || '');\n\nreturn [{ json: { numero: dadosMsg.numero, textoParaLead, qualificado, dadosQualificacao, relatorio, numeroDestino: config?.numero_destino, grupoDestino: grupoDestinoFinal, notifDestino, userId, evoInstance, responderEmAudio } }];"
      },
      "id": "node-processa-resposta",
      "name": "Processa resposta e qualificação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-audio-resp",
              "leftValue": "={{ $json.responderEmAudio }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            },
            {
              "id": "cond-audio-contextual",
              "leftValue": "={{ $('Monta system prompt com config').first().json.mensagemOriginalAudio === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-switch-audio-resp",
      "name": "Responder em áudio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3520,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ model: 'tts-1', input: $json.textoParaLead, voice: 'nova', response_format: 'mp3' }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "node-tts",
      "name": "Gera áudio TTS (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3740,
        260
      ],
      "notes": "Converte resposta do agente em áudio MP3. Voz: nova (feminina, quente). Custo: $0.015/1K chars."
    },
    {
      "parameters": {
        "jsCode": "const dados = $('Processa resposta e qualificação').first().json;\nconst binaryData = $input.first().binary?.data;\n\nif (!binaryData) {\n  // Fallback: se TTS falhar, envia texto\n  return [{ json: { ...dados, enviarComoAudio: false } }];\n}\n\n// Converte binary para base64\nconst base64Audio = Buffer.from(binaryData.data, 'base64').toString('base64');\nconst audioDataUri = `data:audio/mp3;base64,${base64Audio}`;\n\nreturn [{ json: { ...dados, audioResposta: audioDataUri, enviarComoAudio: true } }];"
      },
      "id": "node-prepara-audio-envio",
      "name": "Prepara áudio para envio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3960,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ `https://evo.sevenxperts.solutions/message/sendWhatsAppAudio/${$json.evoInstance}` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "2ae3Y0xQFNxIcng27ufbAaHzioCDfReN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ number: $json.numero, audio: $json.audioResposta }) }}",
        "options": {}
      },
      "id": "node-envia-audio-lead",
      "name": "Envia áudio ao lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4180,
        260
      ],
      "notes": "Envia resposta como áudio no WhatsApp via sendWhatsAppAudio."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ `https://evo.sevenxperts.solutions/message/sendText/${$json.evoInstance}` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "2ae3Y0xQFNxIcng27ufbAaHzioCDfReN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ number: $json.numero, text: $json.textoParaLead }) }}",
        "options": {}
      },
      "id": "node-envia-lead",
      "name": "Envia texto ao lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3740,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "const dados = $('Processa resposta e qualificação').first().json;\nconst saldoAtual = $('Tokens disponíveis?').first().json.saldoTokens || 0;\nconst config = $('Monta system prompt com config').first().json.config || {};\n\n// Estimativa bruta de tokens (≈4 chars por token)\nconst historicoTexto = $('Monta histórico da conversa').first().json.historicoTexto || '';\nconst systemPrompt = $('Monta system prompt com config').first().json.systemPrompt || '';\nconst respostaLen = (dados.textoParaLead || '').length;\nconst tokensRaw = Math.max(500, Math.round((historicoTexto.length + systemPrompt.length + respostaLen) / 4));\n\n// Multiplicador de custo relativo ao gpt-4o-mini (base = 1.0)\n// Garante que modelos premium debitam mais créditos proporcionalmente ao custo real\nconst CUSTO_MODELO = {\n  'gpt-4.1-nano':              0.3,\n  'gpt-4.1-mini':              0.8,\n  'gpt-4.1':                   5.5,\n  'gpt-4o-mini':               1.0,\n  'gpt-4o':                    8.0,\n  'o4-mini':                   2.0,\n  'o3-mini':                   3.0,\n  'o3':                       12.0,\n  'gpt-4-turbo':               6.0,\n  'gpt-3.5-turbo':             0.2,\n  'claude-haiku-4-5-20251001': 0.9,\n  'claude-sonnet-4-6':        10.0,\n  'claude-opus-4-6':          50.0,\n  'claude-3-5-haiku-20241022':  0.9,\n  'claude-3-5-sonnet-20241022':10.0,\n  'claude-3-opus-20240229':   40.0,\n};\n\nconst provider = config.ai_provider || 'openai';\nconst modeloAtivo = provider === 'claude'\n  ? (config.claude_model || 'claude-haiku-4-5-20251001')\n  : (config.openai_model || 'gpt-4o-mini');\n\nconst multiplicador = CUSTO_MODELO[modeloAtivo] ?? 1.0;\nconst tokensEstimado = Math.round(tokensRaw * multiplicador);\nconst novoSaldo = Math.max(0, saldoAtual - tokensEstimado);\n\nreturn [{ json: { ...dados, tokensUsados: tokensEstimado, novoSaldo, modeloAtivo, multiplicador } }];"
      },
      "id": "node-desconta-tokens",
      "name": "Desconta tokens do saldo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4180,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vyvdrbkcrvklcaombjqu.supabase.co/rest/v1/rpc/decrementar_tokens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5dmRyYmtjcnZrbGNhb21ianF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNTMzNTgsImV4cCI6MjA4NzYyOTM1OH0.vmIYb6BGgsksaNGN2XPCm6I_mj02NSa49bLWXlTLQeY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5dmRyYmtjcnZrbGNhb21ianF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNTMzNTgsImV4cCI6MjA4NzYyOTM1OH0.vmIYb6BGgsksaNGN2XPCm6I_mj02NSa49bLWXlTLQeY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_user_id: $json.userId, p_tokens: $json.tokensUsados }) }}",
        "options": {}
      },
      "id": "node-update-saldo",
      "name": "Atualiza saldo tokens",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4400,
        540
      ],
      "notes": "Desconta tokens atomicamente via RPC decrementar_tokens (sem race condition)."
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-qualificado",
              "leftValue": "={{ $('Processa resposta e qualificação').first().json.qualificado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "id": "node-switch",
      "name": "Lead qualificado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4400,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ `https://evo.sevenxperts.solutions/message/sendText/${$('Processa resposta e qualificação').first().json.evoInstance}` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "2ae3Y0xQFNxIcng27ufbAaHzioCDfReN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ number: $('Processa resposta e qualificação').first().json.numeroDestino, text: $('Processa resposta e qualificação').first().json.relatorio }) }}",
        "options": {}
      },
      "id": "node-envia-responsavel",
      "name": "Envia relatório ao responsável",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4620,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-tem-grupo",
              "leftValue": "={{ $('Processa resposta e qualificação').first().json.grupoDestino }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        }
      },
      "id": "node-check-grupo",
      "name": "Tem grupo configurado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4840,
        540
      ],
      "notes": "Só prossegue se o cliente configurou um JID de grupo destino."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ `https://evo.sevenxperts.solutions/group/participants/${$('Processa resposta e qualificação').first().json.evoInstance}` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "2ae3Y0xQFNxIcng27ufbAaHzioCDfReN"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "groupJid",
              "value": "={{ $('Processa resposta e qualificação').first().json.grupoDestino }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-busca-participantes",
      "name": "Busca participantes do grupo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5060,
        460
      ],
      "notes": "GET /group/participants/{instance}?groupJid=... — retorna lista de participantes."
    },
    {
      "parameters": {
        "jsCode": "const dados = $('Processa resposta e qualificação').first().json;\nconst numero = dados.numero || '';\nconst raw = $input.first().json;\n\n// Evolution API pode retornar { participants: [...] } ou array direto\nlet participants = [];\nif (Array.isArray(raw)) {\n  participants = raw;\n} else if (Array.isArray(raw?.participants)) {\n  participants = raw.participants;\n}\n\n// Compara número do lead com JIDs dos participantes (5511999@s.whatsapp.net)\nconst isParticipant = participants.some(p => {\n  const jid = (p.id || p.jid || '').split('@')[0];\n  return jid === numero || jid === numero.replace(/\\D/g, '');\n});\n\nreturn [{ json: { ...dados, isParticipant } }];"
      },
      "id": "node-verifica-participante",
      "name": "Lead é participante do grupo?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        460
      ],
      "notes": "Verifica se o número do lead está na lista de participantes do grupo."
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-is-participant",
              "leftValue": "={{ $json.isParticipant }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "id": "node-if-participante",
      "name": "Confirma participante?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5500,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ `https://evo.sevenxperts.solutions/message/sendText/${$('Processa resposta e qualificação').first().json.evoInstance}` }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "2ae3Y0xQFNxIcng27ufbAaHzioCDfReN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ number: $('Processa resposta e qualificação').first().json.grupoDestino, text: $('Processa resposta e qualificação').first().json.relatorio }) }}",
        "options": {}
      },
      "id": "node-envia-grupo",
      "name": "Envia relatório ao grupo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5720,
        380
      ],
      "notes": "Envia o mesmo relatório do lead qualificado para o grupo configurado."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vyvdrbkcrvklcaombjqu.supabase.co/rest/v1/rpc/upsert_lead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5dmRyYmtjcnZrbGNhb21ianF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNTMzNTgsImV4cCI6MjA4NzYyOTM1OH0.vmIYb6BGgsksaNGN2XPCm6I_mj02NSa49bLWXlTLQeY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5dmRyYmtjcnZrbGNhb21ianF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNTMzNTgsImV4cCI6MjA4NzYyOTM1OH0.vmIYb6BGgsksaNGN2XPCm6I_mj02NSa49bLWXlTLQeY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_numero_whatsapp: $('Processa resposta e qualificação').first().json.numero, p_user_id: $('Processa resposta e qualificação').first().json.userId, p_nome: $('Processa resposta e qualificação').first().json.dadosQualificacao?.nome || '', p_celular: $('Processa resposta e qualificação').first().json.dadosQualificacao?.celular || '', p_tese: $('Processa resposta e qualificação').first().json.dadosQualificacao?.tese || '', p_resumo: $('Processa resposta e qualificação').first().json.dadosQualificacao?.resumo || $('Processa resposta e qualificação').first().json.dadosQualificacao?.motivo || '', p_qualificado: $('Processa resposta e qualificação').first().json.qualificado, p_motivo_desqualificacao: $('Processa resposta e qualificação').first().json.dadosQualificacao?.motivo || '', p_stage: $('Processa resposta e qualificação').first().json.qualificado ? 'qualificado' : ($('Processa resposta e qualificação').first().json.dadosQualificacao?.motivo ? 'nao_qualificado' : 'em_atendimento') }) }}",
        "options": {}
      },
      "id": "node-salva-lead",
      "name": "Salva lead no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4620,
        860
      ],
      "notes": "Upsert por (numero_whatsapp, user_id). Stage: em_atendimento → qualificado/nao_qualificado."
    },
    {
      "parameters": {
        "jsCode": "const historico = $('Monta histórico da conversa').first().json.historico;\nconst respostaAgente = $('Agente SDR — IA').first().json.output || '';\nconst configData = $('Monta system prompt com config').first().json;\nconst responderEmAudio = configData.responderEmAudio;\n\nhistorico.push({ role: 'assistant', content: respostaAgente, type: responderEmAudio ? 'audio' : 'text' });\nconst historicoTrimmed = historico.slice(-20);\n\nreturn [{ json: { numero_whatsapp: configData.numero, user_id: configData.userId, historico: JSON.stringify(historicoTrimmed), atualizado_em: new Date().toISOString() } }];"
      },
      "id": "node-prepara-redis",
      "name": "Prepara sessão para salvar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4620,
        1040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vyvdrbkcrvklcaombjqu.supabase.co/rest/v1/rpc/upsert_sessao",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5dmRyYmtjcnZrbGNhb21ianF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNTMzNTgsImV4cCI6MjA4NzYyOTM1OH0.vmIYb6BGgsksaNGN2XPCm6I_mj02NSa49bLWXlTLQeY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5dmRyYmtjcnZrbGNhb21ianF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNTMzNTgsImV4cCI6MjA4NzYyOTM1OH0.vmIYb6BGgsksaNGN2XPCm6I_mj02NSa49bLWXlTLQeY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_numero_whatsapp: $json.numero_whatsapp, p_user_id: $json.user_id, p_historico: $json.historico }) }}",
        "options": {}
      },
      "id": "node-redis-set",
      "name": "Supabase — Salva sessão",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4840,
        1040
      ],
      "notes": ""
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ok\"}",
        "options": {}
      },
      "id": "node-webhook-ok",
      "name": "Responde 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        5060,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-imagem",
              "leftValue": "={{ $json.ehImagem }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "id": "node-eh-imagem",
      "name": "É imagem?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst apiKey = $env.OPENAI_API_KEY;\n\n// Monta o conteúdo da mensagem para Vision\nconst imageContent = dados.imagemBase64\n  ? { type: 'image_url', image_url: { url: `data:${dados.imagemMimetype};base64,${dados.imagemBase64}`, detail: 'high' } }\n  : dados.imagemUrl\n    ? { type: 'image_url', image_url: { url: dados.imagemUrl, detail: 'high' } }\n    : null;\n\nif (!imageContent) {\n  const descricao = dados.imagemCaption ? `Lead enviou uma imagem com a legenda: \"${dados.imagemCaption}\"` : 'Lead enviou uma imagem (sem conteúdo disponível)';\n  return [{ json: { ...dados, mensagem: descricao, ehImagem: true } }];\n}\n\nconst messages = [\n  { role: 'system', content: 'Você é um assistente que descreve imagens enviadas por clientes para uma empresa. Descreva o que vê na imagem de forma objetiva, mencionando qualquer documento, proposta, contrato, comprovante ou material relevante que apareça. Se for um documento, leia e transcreva o conteúdo principal.' },\n  { role: 'user', content: [\n    { type: 'text', text: dados.imagemCaption ? `O cliente enviou esta imagem com o comentário: \"${dados.imagemCaption}\". Descreva e analise.` : 'O cliente enviou esta imagem. Descreva e analise o conteúdo.' },\n    imageContent\n  ] }\n];\n\nconst response = await $helpers.request({\n  method: 'POST',\n  url: 'https://api.openai.com/v1/chat/completions',\n  headers: { 'Authorization': `Bearer ${apiKey}`, 'Content-Type': 'application/json' },\n  body: JSON.stringify({ model: 'gpt-4o', messages, max_tokens: 1024 }),\n  responseType: 'json'\n});\n\nconst descricao = response.choices?.[0]?.message?.content || 'Imagem recebida mas não foi possível analisar.';\nconst mensagemFinal = `📷 [Lead enviou uma imagem]:\\n${descricao}`;\n\nreturn [{ json: { ...dados, mensagem: mensagemFinal, ehImagem: true } }];"
      },
      "id": "node-descreve-imagem",
      "name": "Descreve imagem (Vision)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-documento",
              "leftValue": "={{ $json.ehDocumento }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "id": "node-eh-documento",
      "name": "É documento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        660
      ]
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json;\nconst apiKey = $env.OPENAI_API_KEY;\nconst isPdf = dados.docMimetype?.includes('pdf');\n\nif (!dados.docBase64 && !dados.docUrl) {\n  const mensagemFinal = `📄 [Lead enviou o arquivo \"${dados.docFileName}\"]:\\n(Arquivo recebido mas sem conteúdo legível disponível. Pergunte ao lead sobre o conteúdo.)`;\n  return [{ json: { ...dados, mensagem: mensagemFinal, ehDocumento: true } }];\n}\n\nif (isPdf && dados.docBase64) {\n  // Chama GPT-4o com o PDF como base64 para extrair texto\n  const response = await $helpers.request({\n    method: 'POST',\n    url: 'https://api.openai.com/v1/chat/completions',\n    headers: { 'Authorization': `Bearer ${apiKey}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      model: 'gpt-4o',\n      messages: [\n        { role: 'system', content: 'Você é um assistente que extrai e resume o conteúdo de documentos enviados por clientes. Leia o documento e forneça um resumo objetivo do conteúdo principal, incluindo datas, nomes, valores, códigos ou qualquer informação relevante para o atendimento.' },\n        { role: 'user', content: [\n          { type: 'text', text: `O cliente enviou o arquivo \"${dados.docFileName}\". Extraia e resuma o conteúdo principal.` },\n          { type: 'file', file: { filename: dados.docFileName, file_data: `data:${dados.docMimetype};base64,${dados.docBase64}` } }\n        ] }\n      ],\n      max_tokens: 2048\n    }),\n    responseType: 'json'\n  });\n  const texto = response.choices?.[0]?.message?.content || 'Não foi possível extrair o conteúdo.';\n  const mensagemFinal = `📄 [Lead enviou o arquivo \"${dados.docFileName}\"]:\\n${texto}`;\n  return [{ json: { ...dados, mensagem: mensagemFinal, ehDocumento: true } }];\n}\n\n// Arquivo não-PDF ou sem base64 — menciona ao agente\nconst mensagemFinal = `📄 [Lead enviou o arquivo \"${dados.docFileName}\" (${dados.docMimetype})]:\\n(Arquivo recebido. Responda ao lead solicitando o conteúdo em formato de texto ou peça que descreva o documento.)`;\nreturn [{ json: { ...dados, mensagem: mensagemFinal, ehDocumento: true } }];"
      },
      "id": "node-extrai-doc",
      "name": "Extrai texto documento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "// Unifica todas as rotas (áudio, imagem, documento, texto)\n// Cada rota já preparou $json.mensagem corretamente\nreturn [$input.first()];"
      },
      "id": "node-prepara-contexto",
      "name": "Prepara contexto final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vyvdrbkcrvklcaombjqu.supabase.co/rest/v1/rpc/upsert_lead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5dmRyYmtjcnZrbGNhb21ianF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNTMzNTgsImV4cCI6MjA4NzYyOTM1OH0.vmIYb6BGgsksaNGN2XPCm6I_mj02NSa49bLWXlTLQeY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ5dmRyYmtjcnZrbGNhb21ianF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNTMzNTgsImV4cCI6MjA4NzYyOTM1OH0.vmIYb6BGgsksaNGN2XPCm6I_mj02NSa49bLWXlTLQeY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_numero_whatsapp: $('Normaliza e filtra mensagem').first().json.numero, p_user_id: $('Resolve cliente pelo instanceName').first().json[0]?.id || $('Resolve cliente pelo instanceName').first().json?.id, p_stage: 'novo_contato' }) }}",
        "options": {}
      },
      "id": "node-registra-novo-contato",
      "name": "Registra novo contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1430,
        400
      ],
      "notes": "Upsert mínimo: garante que lead existe com stage=novo_contato para leads novos. Smart stage logic impede rebaixamento de leads existentes."
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-notif-numero",
              "leftValue": "={{ $('Processa resposta e qualificação').first().json.notifDestino }}",
              "rightValue": "grupo",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-check-notif-numero",
      "name": "Deve notificar número?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4620,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-provider-claude",
              "leftValue": "={{ $json.config?.ai_provider }}",
              "rightValue": "claude",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "node-if-provider",
      "name": "Provider IA?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3080,
        540
      ],
      "notes": "True → Claude (Anthropic) | False → OpenAI (GPT)"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Histórico da conversa:\n{{ $json.historicoTexto }}\n\nNova mensagem do lead: {{ $json.mensagem }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}",
          "maxIterations": 5
        }
      },
      "id": "node-agente-ia-claude",
      "name": "Agente SDR — IA (Claude)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3300,
        700
      ],
      "notes": "Agente via Claude (Anthropic). Ativo quando ai_provider = 'claude'."
    },
    {
      "parameters": {
        "model": "={{ $('Monta system prompt com config').first().json.config?.claude_model || 'claude-opus-4-6' }}",
        "options": {
          "temperature": "={{ parseFloat($('Monta system prompt com config').first().json.config?.claude_temperature || '0.3') }}",
          "maxTokensToSample": "={{ parseInt($('Monta system prompt com config').first().json.config?.claude_max_tokens || '1024') }}"
        }
      },
      "id": "node-llm-claude",
      "name": "LLM — Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        3080,
        900
      ],
      "notes": "Configure credencial Anthropic no n8n. Modelo e temperatura lidos do agente_config."
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "chooseBranchMode": "waitForAll",
        "output": "firstFound"
      },
      "id": "node-merge-ia-output",
      "name": "Merge — Saída IA",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3520,
        540
      ],
      "notes": "Une saída do Agent OpenAI ou Claude (apenas um executa por rodada)."
    }
  ],
  "connections": {
    "Webhook — Evolution API": {
      "main": [
        [
          {
            "node": "Normaliza e filtra mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza e filtra mensagem": {
      "main": [
        [
          {
            "node": "É áudio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É áudio?": {
      "main": [
        [
          {
            "node": "Download áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É imagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download áudio": {
      "main": [
        [
          {
            "node": "Transcreve áudio (Whisper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve áudio (Whisper)": {
      "main": [
        [
          {
            "node": "Merge: áudio → texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: áudio → texto": {
      "main": [
        [
          {
            "node": "Prepara contexto final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve cliente pelo instanceName": {
      "main": [
        [
          {
            "node": "Registra novo contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carrega configurações do Supabase": {
      "main": [
        [
          {
            "node": "Monta system prompt com config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta system prompt com config": {
      "main": [
        [
          {
            "node": "Verifica saldo de tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica saldo de tokens": {
      "main": [
        [
          {
            "node": "Tokens disponíveis?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tokens disponíveis?": {
      "main": [
        [
          {
            "node": "Bloqueado por tokens?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bloqueado por tokens?": {
      "main": [
        [
          {
            "node": "Envia aviso: tokens esgotados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase — Busca histórico da sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia aviso: tokens esgotados": {
      "main": [
        [
          {
            "node": "Responde 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — Busca histórico da sessão": {
      "main": [
        [
          {
            "node": "Monta histórico da conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta histórico da conversa": {
      "main": [
        [
          {
            "node": "Provider IA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Provider IA?": {
      "main": [
        [
          {
            "node": "Agente SDR — IA (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente SDR — IA (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Busca na Web (SerpAPI)": {
      "ai_tool": [
        [
          {
            "node": "Agente SDR — IA (OpenAI)",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Agente SDR — IA (Claude)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Base de Conhecimento PDF": {
      "ai_tool": [
        [
          {
            "node": "Agente SDR — IA (OpenAI)",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Agente SDR — IA (Claude)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings para busca": {
      "ai_embedding": [
        [
          {
            "node": "Tool: Base de Conhecimento PDF",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "LLM — GPT-4o": {
      "ai_languageModel": [
        [
          {
            "node": "Agente SDR — IA (OpenAI)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM — Claude": {
      "ai_languageModel": [
        [
          {
            "node": "Agente SDR — IA (Claude)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente SDR — IA (OpenAI)": {
      "main": [
        [
          {
            "node": "Merge — Saída IA",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Agente SDR — IA (Claude)": {
      "main": [
        [
          {
            "node": "Merge — Saída IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Saída IA": {
      "main": [
        [
          {
            "node": "Processa resposta e qualificação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processa resposta e qualificação": {
      "main": [
        [
          {
            "node": "Responder em áudio?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Desconta tokens do saldo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lead qualificado?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara sessão para salvar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder em áudio?": {
      "main": [
        [
          {
            "node": "Gera áudio TTS (OpenAI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia texto ao lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera áudio TTS (OpenAI)": {
      "main": [
        [
          {
            "node": "Prepara áudio para envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara áudio para envio": {
      "main": [
        [
          {
            "node": "Envia áudio ao lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia áudio ao lead": {
      "main": [
        [
          {
            "node": "Responde 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia texto ao lead": {
      "main": [
        [
          {
            "node": "Responde 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desconta tokens do saldo": {
      "main": [
        [
          {
            "node": "Atualiza saldo tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead qualificado?": {
      "main": [
        [
          {
            "node": "Deve notificar número?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salva lead no Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tem grupo configurado?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salva lead no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem grupo configurado?": {
      "main": [
        [
          {
            "node": "Busca participantes do grupo",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Busca participantes do grupo": {
      "main": [
        [
          {
            "node": "Lead é participante do grupo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead é participante do grupo?": {
      "main": [
        [
          {
            "node": "Confirma participante?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirma participante?": {
      "main": [
        [
          {
            "node": "Envia relatório ao grupo",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Envia relatório ao responsável": {
      "main": [
        [
          {
            "node": "Responde 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara sessão para salvar": {
      "main": [
        [
          {
            "node": "Supabase — Salva sessão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — Salva sessão": {
      "main": [
        [
          {
            "node": "Responde 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É imagem?": {
      "main": [
        [
          {
            "node": "Descreve imagem (Vision)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É documento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É documento?": {
      "main": [
        [
          {
            "node": "Extrai texto documento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepara contexto final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai texto documento": {
      "main": [
        [
          {
            "node": "Prepara contexto final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descreve imagem (Vision)": {
      "main": [
        [
          {
            "node": "Prepara contexto final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara contexto final": {
      "main": [
        [
          {
            "node": "Resolve cliente pelo instanceName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registra novo contato": {
      "main": [
        [
          {
            "node": "Carrega configurações do Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deve notificar número?": {
      "main": [
        [
          {
            "node": "Envia relatório ao responsável",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "whatsapp",
    "sdr",
    "ia",
    "sdr-agente",
    "multitenancy",
    "audio",
    "whisper",
    "tts"
  ],
  "meta": {
    "description": "XPERT.IA — Agente SDR WhatsApp com suporte a áudio (Whisper STT + OpenAI TTS). Multi-tenant com verificação de saldo de tokens. Suporte a OpenAI (GPT) e Claude (Anthropic) configuráveis por cliente.",
    "version": "6.0.0"
  }
}