workflow.json
{
  "name": "SDR Previdenciário — WhatsApp IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook — Recebe mensagem WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300],
      "notes": "Configure este endpoint na Evolution API como webhook de mensagens recebidas."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-numero-destino",
              "name": "NUMERO_DESTINO",
              "value": "5511999999999",
              "type": "string"
            },
            {
              "id": "cfg-prompt",
              "name": "PROMPT_SISTEMA",
              "value": "Você é um assistente de triagem jurídica especializado em Direito Previdenciário. Seu papel é conversar de forma humanizada e empática com pessoas que buscam ajuda, qualificá-las e encaminhar os casos viáveis para o advogado.\n\nVocê NÃO é advogado e NÃO dá consultoria jurídica. Você apenas coleta informações para que o advogado avalie.\n\nSiga este roteiro:\n1. Cumprimente pelo nome e explique que vai fazer algumas perguntas rápidas\n2. Pergunte o nome completo\n3. Pergunte sobre a situação previdenciária (contribuiu ao INSS? É dependente?)\n4. Pergunte qual benefício busca ou qual problema tem (negado, cancelado, quer requerer)\n5. Pergunte se já tentou dar entrada e o que aconteceu\n6. Pergunte se tem documentos (carteira de trabalho, CNIS, carta de indeferimento)\n7. Pergunte o celular para contato\n\nFaça UMA pergunta por vez. Seja empático, especialmente com idosos.\n\nCRITÉRIOS DE QUALIFICAÇÃO (precisa atender ao menos 3):\n- Possui vínculo com o INSS (contribuiu ou é dependente)\n- Existe um benefício previdenciário aplicável ao caso\n- Benefício foi negado, cancelado ou ainda não foi requerido\n- É possível identificar uma tese jurídica para o caso\n- Possui ao menos algum documento ou sabe como obtê-lo\n\nDESQUALIFICAÇÃO IMEDIATA SE:\n- Caso é trabalhista puro sem vínculo com INSS\n- Já tem advogado cuidando do caso\n- Não quer fornecer informações básicas\n\nQUANDO QUALIFICADO, responda normalmente E inclua no final da mensagem um bloco JSON assim:\n```json\n{\"qualificado\":true,\"nome\":\"Nome completo\",\"celular\":\"11999999999\",\"tese\":\"Descrição da tese jurídica\",\"resumo\":\"Resumo completo da conversa\"}\n```\n\nQUANDO NÃO QUALIFICADO, responda com a mensagem de encerramento E inclua:\n```json\n{\"qualificado\":false,\"motivo\":\"Motivo da desqualificação\"}\n```",
              "type": "string"
            },
            {
              "id": "cfg-msg-qualificado",
              "name": "MSG_QUALIFICADO",
              "value": "Ótimo! Com base no que você me contou, acredito que o nosso advogado pode te ajudar. Vou encaminhar as informações do seu caso para ele agora. Em breve ele entrará em contato com você.",
              "type": "string"
            },
            {
              "id": "cfg-msg-desqualificado",
              "name": "MSG_DESQUALIFICADO",
              "value": "Obrigado por entrar em contato! Infelizmente, com base nas informações que você compartilhou, não identificamos uma situação que se encaixe nos casos que atendemos no momento. Caso sua situação mude ou surja algum documento novo, fique à vontade para nos contatar novamente. Desejamos tudo de bom para você!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-config",
      "name": "⚙️ CONFIG — Edite aqui",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 300],
      "notes": "EDITE AQUI:\n- NUMERO_DESTINO: número que recebe o relatório (DDI+DDD+número)\n- PROMPT_SISTEMA: instruções completas do agente\n- MSG_QUALIFICADO: mensagem enviada ao lead quando qualificado\n- MSG_DESQUALIFICADO: mensagem enviada ao lead quando não qualificado"
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook — Recebe mensagem WhatsApp').first().json;\n\nconst numero = body.data?.key?.remoteJid?.replace('@s.whatsapp.net', '') || '';\nconst mensagem = body.data?.message?.conversation \n  || body.data?.message?.extendedTextMessage?.text \n  || '';\nconst tipoMensagem = body.data?.messageType || 'conversation';\nconst nomeContato = body.data?.pushName || '';\nconst temArquivo = ['imageMessage','documentMessage','audioMessage'].includes(tipoMensagem);\n\nreturn [{\n  json: {\n    numero,\n    mensagem,\n    tipoMensagem,\n    nomeContato,\n    temArquivo,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "node-normaliza",
      "name": "Normaliza mensagem recebida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=sessao_{{ $json.numero }}",
        "options": {}
      },
      "id": "node-redis-get",
      "name": "Redis — Busca sessão",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [660, 300],
      "notes": "Recupera o histórico de mensagens da sessão pelo número de telefone."
    },
    {
      "parameters": {
        "jsCode": "const dadosMensagem = $('Normaliza mensagem recebida').first().json;\nconst config = $('⚙️ CONFIG — Edite aqui').first().json;\nconst sessaoRedis = $input.first().json;\n\nlet historico = [];\ntry {\n  historico = JSON.parse(sessaoRedis || '[]');\n} catch(e) {\n  historico = [];\n}\n\n// Adiciona mensagem atual do usuário\nhistorico.push({\n  role: 'user',\n  content: dadosMensagem.temArquivo ? '[Usuário enviou um arquivo]' : dadosMensagem.mensagem\n});\n\nreturn [{\n  json: {\n    ...dadosMensagem,\n    config,\n    historico,\n    historicoJson: JSON.stringify(historico)\n  }\n}];"
      },
      "id": "node-monta-historico",
      "name": "Monta histórico da conversa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "={{ $json.config.PROMPT_SISTEMA }}\n\nHistórico da conversa até agora:\n{{ $json.historicoJson }}"
        }
      },
      "id": "node-agente",
      "name": "Agente SDR — IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1100, 300],
      "notes": "Configure a credencial OpenAI ou Anthropic. Adicione a tool Tavily para busca na web."
    },
    {
      "parameters": {
        "jsCode": "const respostaAgente = $input.first().json.output || '';\nconst dadosMsg = $('Normaliza mensagem recebida').first().json;\nconst config = $('⚙️ CONFIG — Edite aqui').first().json;\n\nlet dadosQualificacao = null;\nlet qualificado = null;\n\n// Extrai JSON da resposta do agente\ntry {\n  const jsonMatch = respostaAgente.match(/```json([\\s\\S]*?)```/);\n  if (jsonMatch) {\n    dadosQualificacao = JSON.parse(jsonMatch[1].trim());\n    qualificado = dadosQualificacao.qualificado === true;\n  }\n} catch(e) {}\n\n// Remove o bloco JSON do texto enviado ao lead\nconst textoParaLead = respostaAgente.replace(/```json[\\s\\S]*?```/g, '').trim();\n\n// Monta relatório formatado para o advogado\nlet relatorio = null;\nif (qualificado && dadosQualificacao) {\n  const agora = new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n  relatorio = `🟢 *LEAD QUALIFICADO*\\n\\n`\n    + `👤 *Nome:* ${dadosQualificacao.nome || 'Não informado'}\\n`\n    + `📱 *Celular:* ${dadosQualificacao.celular || dadosMsg.numero}\\n`\n    + `⚖️ *Tese:* ${dadosQualificacao.tese || 'Não identificada'}\\n`\n    + `📋 *Resumo:* ${dadosQualificacao.resumo || 'Ver histórico'}\\n`\n    + `🕐 *Atendimento:* ${agora}`;\n}\n\nreturn [{\n  json: {\n    numero: dadosMsg.numero,\n    textoParaLead,\n    qualificado,\n    dadosQualificacao,\n    relatorio,\n    numeroDestino: config.NUMERO_DESTINO\n  }\n}];"
      },
      "id": "node-processa-resposta",
      "name": "Processa resposta e extrai qualificação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"number\": \"{{ $json.numero }}\", \"text\": \"{{ $json.textoParaLead }}\"}",
        "options": {}
      },
      "id": "node-envia-lead",
      "name": "Envia resposta ao lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 160]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-qualificado",
              "leftValue": "={{ $json.qualificado }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ]
        }
      },
      "id": "node-switch-qualificado",
      "name": "Lead qualificado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 380]
    },
    {
      "parameters": {
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"number\": \"{{ $json.numeroDestino }}\", \"text\": \"{{ $json.relatorio }}\"}",
        "options": {}
      },
      "id": "node-envia-advogado",
      "name": "Envia relatório ao advogado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 300],
      "notes": "Envia para o NUMERO_DESTINO configurado no node CONFIG."
    },
    {
      "parameters": {
        "jsCode": "// Salva histórico atualizado no Redis (TTL 24h)\nconst historico = $('Monta histórico da conversa').first().json.historico;\nconst respostaAgente = $('Agente SDR — IA').first().json.output || '';\nconst numero = $('Normaliza mensagem recebida').first().json.numero;\n\nhistorico.push({ role: 'assistant', content: respostaAgente });\nconst historicoTrimmed = historico.slice(-20);\n\nreturn [{\n  json: {\n    key: `sessao_${numero}`,\n    value: JSON.stringify(historicoTrimmed),\n    ttl: 86400\n  }\n}];"
      },
      "id": "node-prepara-redis",
      "name": "Prepara sessão para salvar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 520]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.key }}",
        "value": "={{ $json.value }}",
        "expire": true,
        "ttl": "={{ $json.ttl }}",
        "options": {}
      },
      "id": "node-redis-set",
      "name": "Redis — Salva sessão",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1980, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ok\"}",
        "options": {}
      },
      "id": "node-webhook-response",
      "name": "Responde 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1980, 300]
    }
  ],
  "connections": {
    "Webhook — Recebe mensagem WhatsApp": {
      "main": [[{ "node": "⚙️ CONFIG — Edite aqui", "type": "main", "index": 0 }]]
    },
    "⚙️ CONFIG — Edite aqui": {
      "main": [[{ "node": "Normaliza mensagem recebida", "type": "main", "index": 0 }]]
    },
    "Normaliza mensagem recebida": {
      "main": [[{ "node": "Redis — Busca sessão", "type": "main", "index": 0 }]]
    },
    "Redis — Busca sessão": {
      "main": [[{ "node": "Monta histórico da conversa", "type": "main", "index": 0 }]]
    },
    "Monta histórico da conversa": {
      "main": [[{ "node": "Agente SDR — IA", "type": "main", "index": 0 }]]
    },
    "Agente SDR — IA": {
      "main": [[{ "node": "Processa resposta e extrai qualificação", "type": "main", "index": 0 }]]
    },
    "Processa resposta e extrai qualificação": {
      "main": [[
        { "node": "Envia resposta ao lead", "type": "main", "index": 0 },
        { "node": "Lead qualificado?", "type": "main", "index": 0 },
        { "node": "Prepara sessão para salvar", "type": "main", "index": 0 }
      ]]
    },
    "Lead qualificado?": {
      "main": [
        [{ "node": "Envia relatório ao advogado", "type": "main", "index": 0 }],
        []
      ]
    },
    "Envia relatório ao advogado": {
      "main": [[{ "node": "Responde 200 OK", "type": "main", "index": 0 }]]
    },
    "Envia resposta ao lead": {
      "main": [[{ "node": "Responde 200 OK", "type": "main", "index": 0 }]]
    },
    "Prepara sessão para salvar": {
      "main": [[{ "node": "Redis — Salva sessão", "type": "main", "index": 0 }]]
    },
    "Redis — Salva sessão": {
      "main": [[{ "node": "Responde 200 OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": ["whatsapp", "ia", "sdr", "previdenciario"],
  "meta": {
    "description": "SDR IA para qualificação de leads de Direito Previdenciário via WhatsApp. Edite o node CONFIG para personalizar o prompt e o número de destino.",
    "version": "2.0.0"
  }
}
